@page "/"
@using System.Globalization
@using System.Text.Json

<PageTitle>Card</PageTitle>

<h1>Card Creator</h1>

<MudStack Style="height: 500px">
    <MudFileUpload T="IReadOnlyList<IBrowserFile>" Accept=".json" FilesChanged="UploadTemplate" MaximumFileCount="1">
        <ActivatorContent>
            <MudButton Variant="Variant.Filled"
                       Color="Color.Primary"
                       StartIcon="@Icons.Material.Filled.CloudUpload">
                Upload Template
            </MudButton>
        </ActivatorContent>
    </MudFileUpload>
    <MudFileUpload T="IReadOnlyList<IBrowserFile>" 
            Accept=".csv" 
            FilesChanged="UploadCsvFile" 
            MaximumFileCount="1"
            Disabled="_templateNotUploaded"
            >
        <ActivatorContent>
            <MudButton Variant="Variant.Filled"
                       Color="Color.Primary"
                       StartIcon="@Icons.Material.Filled.CloudUpload">
                Upload CSV
            </MudButton>
        </ActivatorContent>
    </MudFileUpload>
    
    @if (_shouldRender)
    {
        <MudGrid Spacing="@_spacing" Justify="Justify.Center">
            @foreach (var model in _cardList.Select((value) => new { value }))
            {
                <MudItem lg="4">
                    <CardDisplay CardModel="@model.value"/>
                </MudItem>
            }
        </MudGrid>
    }
</MudStack>

@code {
    private int _spacing = 20;
    private Boolean _shouldRender;
    private Boolean _templateNotUploaded = true;
    private IList<CardModel> _cardList = new List<CardModel>();
    private CardyWasm.Template _myTemplate = new();
    private async void UploadCsvFile(IReadOnlyList<IBrowserFile>? files)
    {
        if (files is null)
        {
            return;
        }
        
        foreach (var file in files)
        {
            await using (var stream = file.OpenReadStream(file.Size))
            using (var reader = new StreamReader(stream))
            using (var csv = new CsvReader(reader, CultureInfo.InvariantCulture))
            {
                var records = csv.GetRecordsAsync<CSVModel>();
                var newList = new List<CardModel>();
                
                await foreach (var record in records)
                {
                    newList.Add(new CardModel(record));
                }

                _cardList = newList;
            }
        }
        _shouldRender = true; 
        StateHasChanged();
    }
    private async void UploadTemplate(IReadOnlyList<IBrowserFile>? files)
    {
        if (files is null)
        {
            return;
        }
        
        foreach (var file in files)
        {
            await using var stream = file.OpenReadStream(file.Size);
            using var reader = new StreamReader(stream);
            string fileContent = await reader.ReadToEndAsync();
            
            try
            {
                _myTemplate = JsonSerializer.Deserialize<CardyWasm.Template>(fileContent);
                _templateNotUploaded = false; 
                StateHasChanged();
            }
            catch (JsonException ex)
            {
                Console.WriteLine($"JSON parsing failed: {ex.Message}");
            }

        }
    }
};