@page "/"
@using System.Globalization

<PageTitle>Card</PageTitle>

<h1>Card</h1>

<MudStack Style="height: 500px">
    <MudFileUpload T="IReadOnlyList<IBrowserFile>" Accept=".csv" FilesChanged="UploadFiles" MaximumFileCount="1">
        <ActivatorContent>
            <MudButton Variant="Variant.Filled"
                       Color="Color.Primary"
                       StartIcon="@Icons.Material.Filled.CloudUpload">
                Upload CSV
            </MudButton>
        </ActivatorContent>
    </MudFileUpload>
    
    @if (_shouldRender)
    {
        <MudGrid Spacing="@_spacing" Justify="Justify.Center">
            @foreach (var model in _cardList.Select((value) => new { value }))
            {
                <MudItem lg="4">
                    <CardDisplay Card="@model.value"/>
                </MudItem>
            }
        </MudGrid>
    }
</MudStack>

@code {
    private int _spacing = 20;
    private Boolean _shouldRender = false;
    private IList<Card> _cardList;
    private async void UploadFiles(IReadOnlyList<IBrowserFile> files)
    {
        foreach (var file in files)
        {
            await using (var stream = file.OpenReadStream(file.Size))
            using (var reader = new StreamReader(stream))
            using (var csv = new CsvReader(reader, CultureInfo.InvariantCulture))
            { 
                var records = csv.GetRecordsAsync<CardModel>();
                var newList = new List<Card>();
                await foreach (var record in records)
                {
                    newList.Add(new Card(record));
                }

                _cardList = newList;
            }
        }
        _shouldRender = true; 
        StateHasChanged();
    }
}