@page "/Template"
@using System.Globalization

<PageTitle>Template Creator</PageTitle>

<h1>Template Creator</h1>

<MudStack Style="height: 600px">
    <MudFileUpload T="IReadOnlyList<IBrowserFile>" Accept=".csv" FilesChanged="@UploadCsv" MaximumFileCount="1">
        <ActivatorContent>
            <MudButton Variant="Variant.Filled"
                       Color="Color.Primary"
                       StartIcon="@Icons.Material.Filled.CloudUpload">
                Upload CSV
            </MudButton>
        </ActivatorContent>
    </MudFileUpload>
    @if (_shouldRender)
    {
        <TemplateForm Template="_template" ColumnNames="@_columnNames" />
        @* <Tabs ColumnNames="@_columnNames"/> *@
    }
</MudStack>

@code {
    private bool _shouldRender;
    
    private List<string> _columnNames = [];

    private CardTemplate _template = new();
    
    private async Task UploadCsv(IReadOnlyList<IBrowserFile>? files)
    {
        if (files is null)
        {
            return;
        }

        foreach (var file in files)
        {
            await using var stream = file.OpenReadStream(file.Size);
            using var reader = new StreamReader(stream);
            using var csv = new CsvReader(reader, CultureInfo.InvariantCulture);
                
            if (await csv.ReadAsync() && csv.ReadHeader())
            {
                _columnNames = csv.Context.Reader?.HeaderRecord?.ToList() ?? [];
            }
        }

        _shouldRender = true;
    }
}